<h1><%= @article.title %></h1>
<p><%= @article.body %></p>

<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %><br />
<%= link_to "<< Back to Articles List", articles_path %>

<p>
  <h3>댓글 (<%= @article.comments.size %>)</h3>
  <%= render partial: 'articles/comment', collection: @article.comments.reverse %>
</p>
<%= render partial: 'comments/form' %>
